.btn-delete {
    background-color: #ff6b6b;
    color: #fff;
    padding: 5px 20px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 5px;

    &:hover {
        background-color: #e65252;
    }
}